section{
  max-width: 1000px;
  margin: 0 auto;
  width: 100%;
}
.average{
  background: silver;
  text-decoration: underline;
  text-align: right;
  font-size: 20px;
}
.result{
  color: red;
  background: aliceblue;
  text-decoration: underline;
  text-align: right;
  font-size: 20px;
}

