.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.upload-btn-wrapper input[type=file] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}
table {
  margin: 0 auto;
  max-width: 900px;
  margin-top: 30px;
  width: 80%;
}

a{
  background-color: #3f51b5;
}
